body{
    background-color: black;
}

h1{
    color:white;
    text-align: center;
    font-family: notable, futura, rubik mono one;
    font-size: 70px;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom:1cm;
    margin-top: 1cm;
    line-height:100%;
}
h2{
    text-align: center;
    color:white;
    font-family: poppins, montserrat, roboto;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom:1cm;
    margin-top: 1cm;
    line-height:100%;
}
p{
    text-align:center;
    color:white;
    font-family: poppins, montserrat, roboto;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom:1cm;
    margin-top: 1cm;
    line-height:200%;
}

nav{
    text-align: center;
    color:white;
    font-family: poppins, montserrat, roboto;
    font-weight: bold;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom:1cm;
    margin-top: 1cm;
    line-height:200%;
}

a{
  color:cornflowerblue;
}

@keyframes fadein {
    0% {
      opacity: 0
    }
    100% {
      opacity: 100;
    }
  }
  
  body {
    animation-duration: 1s;
    animation-timing-function:ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: fadein;

  }

  div.className{
    position:absolute;
    margin-left: -250px; /* very important for the image to be centered */
    left:50%;
    bottom:0px;
    }