body{
    background-color: black;
}

h1{
    color:white;
    text-align: center;
    font-family: a_GroticTitulShHv;
    font-size: 70px;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom:1cm;
    margin-top: 1cm;
    line-height:100%;
}
h2{
    text-align: center;
    color:white;
    font-family: raleway;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom:1cm;
    margin-top: 1cm;
    line-height:100%;
}
p{
    text-align:center;
    color:white;
    font-family: raleway;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom:1cm;
    margin-top: 1cm;
    line-height:200%;
}

nav{
    text-align: center;
    color:white;
    font-family: raleway;
    font-weight: bold;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-bottom:1cm;
    margin-top: 1cm;
    line-height:200%;
}

@keyframes fadein {
    0% {
      opacity: 0
    }
    100% {
      opacity: 100;
    }
  }
  
  body {
    animation-duration: 1s;
    animation-timing-function:ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: fadein;

  }