body{
    background-color: black;
}

h1{
    color:white;
    text-align: center;
    font-family: a_GroticTitulShHv;
    font-size: 70px;
}
h2{
    text-align: center;
    color:white;
    font-family: raleway;
}
p{
    text-align: center;
    color:white;
    font-family: raleway;
}